configuration {
    /* focus on hover */
    hover-select: true;

    /* accept using single left click */
    me-select-entry: "";
    me-accept-entry: [ MousePrimary, MouseDPrimary ];

    /* cancel on click outside the window (does not seem to work on KDE) */
    click-to-exit: true;

    /* cancel using escape or mouse right click */
    kb-cancel: [ MouseSecondary, Escape ];

    /* show icons in drun and window modes */
    show-icons: true;
}

// default theme override with `-theme launchpad`
@theme "spotlight-dark"
