// Theme based on launchpad by Newman Sanchez (https://github.com/newmanls)

* {
    font: "Noto Sans bold 11";

    background: #333333;
    lightbg: #333333;

    bg0:  #1A1A1ADD;
    bg1:  #2a2a2a;
    bg2:  #3a3a3a30;
    bg3:  #4a4a4a50;
    bg4:  #0860f2E6;

    fg0:  #e0e0e0;
    fg1:  #a0a0a080;

    background-color: transparent;
    text-color:       @fg0;
    padding:          0px;
    margin:           0px;
}

window {
  fullscreen: true;
  padding: 1em;
  background-color: @bg0;
}

mainbox {
  padding:  8px;
}

inputbar {
  background-color: @bg2;

  margin:   0px calc( 50% - 120px );
  padding:  2px 4px;
  spacing:  4px;

  border:         1px;
  border-radius:  2px;
  border-color:   @bg3;

  children: [icon-search,entry];
}

prompt {
  enabled: false;
}

icon-search {
  expand:   false;
  filename: "search";
  vertical-align: 0.5;
}

entry {
  placeholder:        "Search";
  placeholder-color:  @fg0;
  color: @fg0;
}

listview {
  margin:   48px calc( 50% - 560px );
  spacing:  48px;
  columns:  6;
  fixed-columns: true;
}

element, element-text, element-icon {
  cursor: pointer;
}

element {
  padding:      8px;
  spacing:      4px;

  orientation:    vertical;
  border-radius:  16px;
}

element selected {
  background-color: @bg4;
}

element-icon {
  size: 5em;
  horizontal-align: 0.5;
}

element-text {
  horizontal-align: 0.5;
  color: @fg0;
}
